name: telegram_crash_reporter_example
description: Demonstrates how to use the telegram_crash_reporter plugin

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  telegram_crash_reporter: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
